:root{
    --cor-fundo: #111111 ;
    --cor-principal: #040407 ;
    --cor-secundaria: #a8a9b0; 
    --cor-destaque: #db0c0c;
    --cor-texto: #e0dbdb;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}